$primary-color: #ff7f51;

.todo-form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-bottom: 2px solid $primary-color;

  margin: 1rem 0;
  .todo-input {
    width: 100%;

    color: $primary-color;
    background-color: transparent;
    border: transparent;
    outline: none;

    padding: 1rem;
    &::placeholder {
      color: $primary-color;
    }
  }

  .todo-button {
    background-color: transparent;
    color: $primary-color;

    font-weight: bold;

    border: transparent;
    outline: none;

    padding: 0.5rem;
    cursor: pointer;
  }
}
