$primary-color: #ff7f51;
$body-color: #1d1e42;
$background-color: #141432;
$white-color: #ffffff;
$blue-color: #5250ee;
$blue-sky-color: #54ebff;
$blue-opacity-color: #00a3ff;
$red-color: #eb3f77;

.todo-list {
  width: 100%;
  position: relative;
  padding: 1rem 0;
  &__items {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    list-style-type: none;

    & > .item {
      width: 100%;

      color: $white-color;
      text-shadow: 0 0 2px $body-color;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      border: 1px solid $body-color;
      border-radius: 0.25rem;
      padding: 1rem;
      margin: 0.5rem 0;

      font-weight: bold;

      & > .content {
        width: 80%;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > .icons {
        margin: 0 -0.5rem;
        .icon {
          font-size: 1.2rem;

          margin: 0 0.5rem;
          cursor: pointer;
        }
        .icon:nth-child(4) {
          display: none;
        }

        .icon:hover {
          color: $primary-color;
        }
      }
    }

    & > .item:nth-child(4n + 1) {
      background: $blue-color;
    }

    & > .item:nth-child(4n + 2) {
      background: $blue-sky-color;
    }

    & > .item:nth-child(4n + 3) {
      background: $blue-opacity-color;
    }

    & > .item:nth-child(4n + 4) {
      background: $red-color;
    }

    & > .done {
      & > .content {
        opacity: 0.2;
      }
      & > .icons {
        .icon {
          cursor: default;
        }

        .icon:nth-child(4) {
          display: inline-block;
          cursor: pointer;
        }
        .icon:not(:nth-child(4)) {
          display: none;
        }
      }
    }
  }
}
